.paginationContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin-top: 1rem;
}

.paginationContainer__button {
  all: unset;
  width: 20px;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #009cff;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
}

.button--active {
  background-color: #075da9;
  color: #fff;
}
