.cardContainer {
  box-sizing: border-box;
  width: 300px;
  height: 230px;
  border-radius: 2rem;
  background-color: #fff;
  color: #000;
  transition: transform 0.3s ease-in-out;
}

.cardContainer:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.mainImage {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  height: 9.625rem;
  width: 100%;
  object-fit: cover;
}

.cardBody {
  padding: 0.3rem 0.7rem;
  display: flex;
  gap: 1rem;
}
.cardBody__Flag {
  width: 80px;
  height: 50px;
}

.cardBody__content h3 {
  color: #009cff;
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.cardBody__content p {
  color: #7f7f7f;
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 430px) and (max-width: 728px) {
  .cardContainer {
    width: 250px;
    height: 200px;
  }
  .mainImage {
    height: 63%;
  }
  .cardBody__content h3 {
    font-size: 1.1rem;
  }
  .cardBody__content p {
    font-size: 0.9rem;
  }
}
