.container {
  position: absolute;
  top: 5rem;
  left: 0;
  box-sizing: border-box;
  border-radius: 2rem;
  background-color: #fff;
  width: 550px;
  height: 350px;
  padding: 1rem 1.5rem;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__header p {
  font-size: 1.3rem;
  color: #7f7f7f;
}

.container__header button {
  all: unset;
  color: #009cff;
  cursor: pointer;
  font-size: 1.3rem;
}

.container__content {
  margin-top: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0.8rem 0;
  gap: 1.3rem;
}

@media screen and (max-width: 924px) {
  .container {
    width: 100%;
    height: fit-content;
  }
}

@media screen and (max-width: 728px) {
  .container {
    width: 320px;
    height: fit-content;
  }
  .container__header p,
  .container__header button {
    font-size: 1.1rem;
  }
}
